{% extends "base.html" %}

{% block title %}Abilities{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Abilities</h1>
    {% if abilities %}
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Manacost</th>
            <th>Key</th>
            <th>Hero</th>
        </tr>
        {% for ability in abilities %}
        <tr>
            <td>{{ ability.name }}</td>
            <td>{{ ability.description }}</td>
            <td>{{ ability.manacost }}</td>
            <td>{{ ability.key }}</td>
            <td><a href="{{ url_for('hero', hid=ability.hero_id) }}">{{ ability.hero_id }}</a></td>
            <td><a href="{{ url_for('edit_ability', aid=ability.id) }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <a href="{{ url_for('add_ability') }}">
    <button type="button" class="btn btn-link">Add</button>
    </a>
</div>
{% endblock %}
