{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add an ability.{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="page-header">
    <h1>Add ability.</h1>
</div>
<div class="row">
    <div class="col-md-6">
        {{ wtf.quick_form(form) }}
    </div>
    <div class="col-md-6"></div>
</div>
{% endblock %}
