{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add a hero.{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Add a hero.</h1>
</div>
<div class="row">
    <div class="col-md-6">
        {{ wtf.quick_form(form) }}
    </div>
    <div class="col-md-6"></div>
</div>
{% endblock %}
