{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add a talent.{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="page-header">
    <h1>Add a talent.</h1>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}
