{% extends "bootstrap/base.html" %}

{% block title %}HOTS admin{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" 
                data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">HOTS Admin</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('heroes') }}">Heroes</a></li>
                <li><a href="{{ url_for('talents') }}">Talents</a></li>
                <li><a href="{{ url_for('link_talent') }}">Link talents</a></li>
                <li><a href="{{ url_for('abilities') }}">Abilities</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>HOTS Admin</h1>
    </div>
</div>
{% endblock %}
