{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit trait: {{ ability.name }}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Edit {{ ability.name }}</h1>
</div>
<div class="row">
    <div class="col-md-6">
        {{ wtf.quick_form(form) }}
    </div>
    <div class="col-md-6"></div>
</div>
{% endblock %}
