{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Testing forms.{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Testing forms</h1>
    {% if name %}
    <p>Name: {{ name }}</p>
    {% endif %}
    {% if role %}
    <p>Role: {{ role }}</p>
    {% endif %}
</div>
{{ wtf.quick_form(form) }}
{% endblock %}
