{% extends "base.html" %}

{% block title %}Heroic Abilities{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Heroic Abilities</h1>
    {% if heroics %}
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Manacost</th>
            <th>Key</th>
            <th>Hero</th>
        </tr>
        {% for heroic in heroics %}
        <tr>
            <td>{{ heroic.name }}</td>
            <td>{{ heroic.description }}</td>
            <td>{{ heroic.manacost }}</td>
            <td>{{ heroic.key }}</td>
            <td>{{ heroic.hero_id }}</td>
            <td><a href="{{ url_for('edit_heroic', hid=heroic.id) }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <a href="{{ url_for('add_heroic') }}">
    <button type="button" class="btn btn-link">Add</button>
    </a>
</div>
{% endblock %}
