{% extends "base.html" %}

{% block title %}{{ hero.name }}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ hero.name }}</h1>
    <p>(<a href="{{ url_for('edit_hero', hid=hero.id) }}">Edit</a>)</p>
    <h4>Info</h4>
    <p>Role: {{ hero.role }}</p>
    <p>Description:</p>
    <p>{{ hero.description }}</p>
    <p>Lore:</p>
    <p>{{ hero.lore }}</p>
    <h4>Stats</h4>
    <p>Health: {{ hero.hp }} (+{{ hero.hp_per_level }} per level)</p>
    <p>Health regen: {{ hero.hp_regen }} (+{{ hero.hp_regen_per_level }} per level)</p>
    <p>Mana: {{ hero.mana }} (+{{ hero.mana_per_level }} per level)</p>
    <p>Mana regen: {{ hero.mana_regen }} (+{{ hero.mana_regen_per_level }} per level)</p>
    <p>Attack damage: {{ hero.attack_damage }} (+{{ hero.attack_damage_per_level }} per level)</p>
    <p>Attack speed: {{ hero.attack_speed }}</p>
    <br />
    {% if abilities %}
    <h4>Abilities</h4>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Key</th>
        </tr>
        {% for ability in abilities %}
        <tr>
            <td>{{ ability.name }}</td>
            <td>{{ ability.description }}</td>
            <td>{{ ability.key }}</td>
            <td><a href="{{ url_for('edit_ability', aid=ability.id) }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <h4>Talents</h4>
    {% if talents %}
    <table class="table table-striped">
        <tr>
            <th>Level</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        {% for talent in talents %}
        <tr>
            <td>{{ talent.lvl }}</td>
            <td>{{ talent.name }}</td>
            <td>{{ talent.description }}</td>
            <td><a href="{{ url_for('unlink', hid=hero.id, tid=talent.id) }}">Remove from this hero.</a></td>
            <td><a href="{{ url_for('edit_talent', tid=talent.id) }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}
