{% extends "base.html" %}

{% block title %}Add a hero.{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Heroes</h1>
    {% if heroes %}
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Role</th>
            <th>Health</th>
            <th>Mana</th>
            <th>Attack Damage</th>
            <th>Attack Speed</th>
        </tr>
        {% for hero in heroes %}
        <tr>
            <td>{{ hero.id }}</td>
            <td><a href="{{ url_for('hero', hid=hero.id) }}">{{ hero.name }}</a></td>
            <td>{{ hero.role }}</td>
            <td>{{ hero.hp }}</td>
            <td>{{ hero.mana }}</td>
            <td>{{ hero.attack_damage }}</td>
            <td>{{ hero.attack_speed }}</td>
            <td><a href="{{ url_for('edit_hero', hid=hero.id) }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <a href="{{ url_for('add_hero') }}">
    <button type="button" class="btn btn-link">Add</button>
    </a>
</div>
{% endblock %}
