{% extends "base.html" %}

{% block title %}Talents{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Talents</h1>
    {% if talents %}
    <table class="table table-striped">
        <tr>
            <th>Level</th>
            <th>Name</th>
            <th>Description</th>
            <th>Linked to</th>
        </tr>
        {% for talent in talents %}
        <tr>
            <td>{{ talent.lvl }}</td>
            <td>{{ talent.name }}</td>
            <td>{{ talent.description }}</td>
            <td>{% for hero in talent.heroes %}{{ hero.name }} {% endfor %}</td>
            <td><a href="{{ url_for('edit_talent', tid=talent.id) }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <a href="{{ url_for('add_talent') }}">
    <button type="button" class="btn btn-link">Add</button>
    </a>
</div>
{% endblock %}
