{% extends "base.html" %}

{% block title %}Traits{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Traits</h1>
    {% if traits %}
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Manacost</th>
            <th>Key</th>
            <th>Hero</th>
        </tr>
        {% for trait in traits %}
        <tr>
            <td>{{ trait.name }}</td>
            <td>{{ trait.description }}</td>
            <td>{{ trait.manacost }}</td>
            <td>{{ trait.key }}</td>
            <td>{{ trait.hero_id }}</td>
            <td><a href="{{ url_for('edit_trait', tid=trait.id) }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <a href="{{ url_for('add_trait') }}">
    <button type="button" class="btn btn-link">Add</button>
    </a>
</div>
{% endblock %}
